{% extends "layout.html" %} 
{% block body %}
<div class="d-flex flex-row">
    <main class="col-9" style="max-height: calc(100vh - 50px); overflow-y: auto;">
        <div class="row m-4 text-center">
            {% if file_paths[2] %}
            <div class="col-lg-3">
                <h3>Image RGB</h3>
                <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}" alt="image here">
            </div>
            <div class="col-lg-3">
                <h3>Red Histogram</h3>
                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}" alt="image here">
            </div>
            <div class="col-lg-3">
                <h3>Green Histogram</h3>
                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[1]) }}" alt="image here">
            </div>
            <div class="col-lg-3">
                <h3>Blue Histogram</h3>
                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[2]) }}" alt="image here">
            </div>
            {% else %}
            <div class="col-md-6">
                <h3>Image Greyscaled</h3>
                <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}" alt="image here">
            </div>
            <div class="col-md-6">
                <h3>Black Histogram</h3>
                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}" alt="image here">
            </div>
            {% endif %}
        </div>
    </main>
    <aside class="col-3" style="max-height: calc(100vh - 50px); overflow-y: auto;">
        {% include "efek.html" %}
    </aside>
</div>
{% endblock %}
