{% extends "layout.html" %} 
{% block body %}
<div class="d-flex flex-row">
    <main class="col-9 d-flex flex-row">
        {% include "hasil_foto.html" %}
    </main>
    <aside class="col-3" style="max-height: calc(100vh - 50px); overflow-y: auto;">
        {% include "efek.html" %}
    </aside>
</div>
<div class="p-2 flex-fill bd-highlight">
    <table id="rgb-table" class="table table-sm d-none">
      <thead>
        <tr>
          <th>R</th>
          <th>G</th>
          <th>B</th>
        </tr>
      </thead>
      <tbody>
        <!-- RGB values will be inserted here -->
      </tbody>
    </table>
    </form>
</div>
{% endblock %}
