{% extends "layout.html" %} 
{% block body %}
<div class="d-flex flex-row">
    <main class="col-9 d-flex flex-row">
        {% include "hasil_foto.html" %}
    </main>
    <aside class="col-3" style="max-height: calc(100vh - 50px); overflow-y: auto;">
        {% include "efek.html" %}
    </aside>
</div>
<div class="p-2 flex-fill bd-highlight">
  <h1>RGB Values Table</h1>
    <table border="1">
        <tr>
            <th>Index</th>
            <th>R</th>
            <th>G</th>
            <th>B</th>
        </tr>
        {% for index, rgb in enumerated_rgb %}
        <tr>
            <td>{{ index }}</td>
            <td>{{ rgb[0] }}</td>
            <td>{{ rgb[1] }}</td>
            <td>{{ rgb[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
